@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format('woff2'),
        url("../fonts/HelveticaNeueCyr-Roman.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
* {
    color: #000;
}
li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
} 
/* -------------------- */

html, 
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100%;
}
html {
  font-size: 16px;  
}
body {
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;    
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
.main {
    flex: 1 1 auto;
}
[class*="__box"] {
    max-width: 1040px;
    margin: 0 auto;
}

/* HEADER */

.header__title{
    text-align: center; 
    margin: 40px 0 124px 0;
}
.header__title h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    color: #03a9f4;
    text-shadow: rgb(48 77 219) 2px 2px 2px;
    padding: 20px 0;
}

/* -------------------- */

.our-impact {
    background: #29C3BE url(../img/shadow2.png) 75% 0 no-repeat;
    padding: 112px 0;
}
.block__left {
    flex: 0 0 411px;
    margin: 0 111px 0 0;
}
.block__subtitle {
    font-weight: 700;
    margin: 0 0 32px 0;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 0 0 32px;
    background: url(../img/icon-white.svg) 0 -2px no-repeat;
}
.block__title,
.our-impact__item span {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    color: #fff;
}
.our-impact__block {
    margin: 0 0 75px 0;
    display: flex;
    justify-content: space-between;
}
.block__right {
    margin: -200px 0 0 0;
}
.block__img {
    border-radius: 40px;
}
.our-impact__content {
    display: flex;
    margin: 0 -12px;
    align-items: flex-start;
}
.our-impact__items {
    display: flex;
    flex: 1 1 25%;
    padding: 0 12px;
    column-gap: 12px;
}
.our-impact__item {
    flex: 0 0 150px;
} 
.our-impact__item span {
    padding: 0 0 5px 0;
}
.our-impact__item p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #5D62B5;
}
.our-impact__img {
    margin: 0 24px 0 0;
    flex: 0 0 76px;
}
.our-promise-to-you {
    padding: 85px 0 68px 0;
}
.promise__subtitle_blue {
    color: #5D62B5;
    padding: 0 0 0 32px;
    background: url(../img/icon/icon.svg) 0 -2px no-repeat;
}
.promise__title_black {
    color: #000;
}
.promise__title-block {
    margin: 0 0 68px 0;
}
.promise__row {
    display: flex;
    align-items: flex-start;
    margin: 0 -12px;
}
.promise__column {
    display: flex;
    flex: 1 1 33.333%;
    padding: 0 12px;
    column-gap: 23px;
}
.promise__image {
    flex: 0 0 63px;
}
.promise__text {
}
.promise__heading {
    font-weight: 900;
    font-size: 19px;
    line-height: 1.36;
    color: #F2726F;
}
.promise__heading:not(:last-child) {
    margin: 0 0 20px 0;
}
.promise__content-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

/* MAIN */

/* FOOTER */

.footer {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #03a9f4;
    text-shadow: rgb(48 77 219) 2px 2px 2px;
    padding: 20px 0 40px;
    letter-spacing: 3px;
}

/* -------------------- */